<!-- farmacias/update.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% include "snippets/title.html" with title='Editar Especialidad' %}
    <div class="row justify-content-center">
        <div class="col-md-11">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Actualizar</button>
                <a href="{% url 'products:specialty_list' %}" class="btn btn-secondary">Volver</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
