<form method="get" class="input-group mb-3">
    <input type="text" name="search" class="form-control" placeholder="Buscar" value="{{ request.GET.search }}">
    <div class="input-group-append">
        <button type="submit" class="btn btn-outline-secondary">Buscar</button>
        <a href="{% url 'consultations:doctor_create' %}" class="btn btn-primary ms-2">Nuevo</a>
    </div>
</form>
<form method="get">
    <label for="pacienteFiltro">Filtrar por paciente:</label>
    <select name="paciente" id="pacienteFiltro">
        <option value="">Todos los pacientes</option>
        {% for paciente in pacientes %}
            <option value="{{ paciente.id }}" {% if request.GET.paciente == paciente.id|stringformat:"s" %}selected{% endif %}>
                {{ paciente.get_full_name }}
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Filtrar">
</form>