<div class="container centrar-filtros">
    <!-- Filtros generales de productos -->
    <form method="get" class="d-flex flex-column flex-md-row align-items-center justify-content-center">
        <div class="form-check mb-2 me-md-2 col-12 col-md-auto">
            {{ filter_form.uso_cotidiano.label_tag }}
            {{ filter_form.uso_cotidiano }}
        </div>
        <div class="form-check mb-2 me-md-2 col-12 col-md-auto">
            {{ filter_form.con_prescripcion.label_tag }}
            {{ filter_form.con_prescripcion }}
        </div>
        <div class="form-check mb-2 me-md-2 col-12 col-md-auto">
            {{ filter_form.venta_controlada.label_tag }}
            {{ filter_form.venta_controlada }}
        </div>
        <div class="form-check mb-2 me-md-2 col-12 col-md-auto">
            {{ filter_form.sin_existencia.label_tag }}
            {{ filter_form.sin_existencia }}
        </div>
        <div class="form-check mb-2 me-md-2 col-12 col-md-auto">
            {{ filter_form.especialidad.label_tag }}
            {{ filter_form.especialidad }}
        </div>
        <div class="mt-2 mt-md-0">
            <button type="submit" class="btn btn-sm btn-primary mb-3">Filtrar</button>
        </div>
    </form>

    <form method="get">
        <label for="pacienteFiltro">Filtrar por paciente:</label>
        <select name="paciente" id="pacienteFiltro">
            <option value="">Todos los pacientes</option>
            {% for paciente in pacientes %}
                <option value="{{ paciente.id }}" {% if request.GET.paciente == paciente.id|stringformat:"s" %}selected{% endif %}>
                    {{ paciente.get_full_name }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar">
    </form>
</div>

