<div class="container centrar-filtros">
    <form method="get" class="d-flex align-items-center justify-content-center">
        <div class="form-check mb-2 me-2">
        {{ filter_form.uso_cotidiano.label_tag }}
        {{ filter_form.uso_cotidiano }}
    </div>
        <div class="form-check mb-2 me-2">
        {{ filter_form.con_prescripcion.label_tag }}
        {{ filter_form.con_prescripcion }}
    </div>
        <div class="form-check mb-2 me-2">
        {{ filter_form.venta_controlada.label_tag }}
        {{ filter_form.venta_controlada }}
    </div>
        <div class="form-check mb-2 me-2">
        {{ filter_form.sin_existencia.label_tag }}
        {{ filter_form.sin_existencia }}
    </div>
        <div class="form-check mb-2 me-2">
        {{ filter_form.especialidad.label_tag }}
        {{ filter_form.especialidad }}
    </div>
    <div>
        <button type="submit" class="btn btn-sm btn-primary mb-3">Filtrar</button>
    </div>
</form>

<form method="get" class="d-flex mb-3">
    {{ search_form.search }}
    <button type="submit" class="btn btn-sm btn-outline-secondary">Buscar</button>
    <a href="{% url 'products:new_product' %}" class="btn btn-sm btn-primary ms-2">Nuevo</a>
</form>

