{% load static %}

<div class="card mb-1 shadow-sm">
    <div class="row g-0">
        <div class="col-md-2 d-flex align-items-center">
            {% if product.imagen_caja %}
                <img src="{{ product.imagen_caja.url }}" class="img-fluid rounded-start" alt="{{ product.nombre_local }}" style="max-height: 50px; width: auto;">
            {% else %}
            <img src="{% static 'images/sin_imagen.png' %}" class="img-fluid rounded-start" alt="Imagen no disponible" style="max-height: 50px; width: auto;">
            {% endif %}        </div>
        <div class="col-md-8">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h5 class="card-title mb-0">{{ product.nombre_local }}</h5>
                    <p class="card-text mb-0">
                        Existencia: 
                        <span class="{% if product.existencia <= 0 %}text-danger{% else %}text-success{% endif %}">
                            {{ product.existencia }}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2 d-flex align-items-center justify-content-end">
            <div class="dropdown">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                    Acciones
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                    <li><a class="dropdown-item text-primary" href="{% url 'products:product' product.slug %}">Más datos</a></li>
                    <li><a class="dropdown-item text-success" href="{% url 'stock:agregar_compra' %}?producto_id={{ product.id }}">Cargar compra</a></li>
                    {% if product.existencia > 0 %}
                        <li><a class="dropdown-item text-danger" href="{% url 'dispensers:modify' product.id %}">Retirar</a></li>
                    {% else %}
                        <li><a class="dropdown-item disabled" tabindex="-1" aria-disabled="true">Retirar (No disponible)</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
  </div>
  