<form method="get" class="input-group mb-3 mt-2" id="search-form">
    <input type="text" name="search" class="form-control" placeholder="Buscar" value="{{ request.GET.search }}">
   
    <div class="input-group-append">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Buscar</button>
    </div>
    
    {% for field in filterset.form %}
        {% if field.name != 'search' and field.name != 'prescriptions_activa' %}
            {{ field.as_hidden }}
        {% endif %}
    {% endfor %}
</form>
<div class="container">
    <div class="centrar-filtros">
        <form method="get" class="d-flex justify-content-center">
            <label for="pacienteFiltro" class="me-2">Filtrar por paciente:</label>
            <select name="paciente" id="pacienteFiltro" class="me-2">
                <option value="">Todos los pacientes</option>
                {% for paciente in pacientes %}
                    <option value="{{ paciente.id }}" {% if request.GET.paciente == paciente.id|stringformat:"s" %}selected{% endif %}>
                        {{ paciente.get_full_name }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Filtrar" class="btn btn-sm btn-outline-secondary">
        </form>
    </div>
</div>