<form method="get" class="input-group mb-3 mt-2" id="search-form">
    <input type="text" name="search" class="form-control" placeholder="Buscar" value="{{ request.GET.search }}">
   
    <div class="input-group-append">
        <button type="submit" class="btn btn-sm btn-outline-secondary">Buscar</button>
    </div>
    
    {% for field in filterset.form %}
        {% if field.name != 'search' and field.name != 'prescriptions_activa' %}
            {{ field.as_hidden }}
        {% endif %}
    {% endfor %}
</form>
