<table class="table mt-4">
    <thead>
        <tr>
            <th>Médico</th>
            <th>Fecha y Hora</th>
            <th>Motivo</th>
            <th>Acompañante</th>
        </tr>
    </thead>
    <tbody>
        {% if appointments %}
            {% for appointment in appointments %}
            <tr>
                <td><a href="{% url 'consultations:doctor_detail' appointment.doctor.pk %}">{{ appointment.doctor.nombre }}</a></td>
                <td>{{ appointment.fecha_hora|date:"d/m/Y H:i" }}</td>
                <td>{{ appointment.motivo }}</td>
                <td>{{ appointment.acompanante }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr><td colspan="4">No hay citas disponibles.</td></tr>
        {% endif %}
    </tbody>
</table>
