<!-- dashboard/snippets/medication.html -->
<table class="table mt-4">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Dosis</th>
            <th>Frecuencia</th>
            <th>Suministro para</th>
        </tr>
    </thead>
    <tbody>
        <!-- Aquí estaba el error: Había un bucle innecesario -->
        {% for prescription in prescription_products %}
        <tr>
            <td>
                <a href="{% url 'products:product' prescription.producto.slug %}">{{ prescription.producto.nombre_local }}</a>
            </td>
            <td>{{ prescription.dosis }}</td>
            <td>{{ prescription.frecuencia }}</td>
            <td>{{ prescription.producto.dias_de_cobertura }} días</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No hay productos con prescripción activa.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
