{% extends "base.html" %}
{% load product_extras %}

{% block content %}
    {% include "snippets/title.html" with title='Retirar productos del inventario' %}
    <div class="container">    
    
        {% if dispenser.products.exists %}
            {% include "dispensers/snippets/withdrawal.html" %}
        {% else %}
            <div class="row justify-content-center">
                <div class="col-md-11">
                    <p class="h2">No hay productos a retirar</p>
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary">Volver</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% if messages %}
<div id="message-container">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="closeMessage()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
{% endif %}

{% block script %}
<script>
function closeMessage() {
    document.getElementById('message-container').style.display = 'none';
}
</script>

<script>
    // Este script asegura que los botones de acción se alineen con el ancho de la tabla
    document.addEventListener('DOMContentLoaded', function () {
        var tableWidth = document.getElementById('products-table').offsetWidth;
        var actionButtons = document.querySelector('.d-flex');
        actionButtons.style.width = tableWidth + 'px';
    });
</script>

{% endblock script %}