{% extends 'base.html' %}

{% block content %}
{% include "snippets/title.html" with title='Presentaciones' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            {% include "presentation/snippets/filter.html" %}
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for presentation in presentations %}
                    <tr>
                        <td>{{ presentation.nombre }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton{{ forloop.counter }}" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ forloop.counter }}">
                                    <li><a class="dropdown-item text-success" href="{% url 'products:presentation_update' presentation.pk %}">Actualizar</a></li>
                                    <li><a class="dropdown-item text-danger" href="{% url 'products:presentation_delete' presentation.pk %}" onclick="return confirm('¿Está seguro que desea eliminar esta presentación?');">Eliminar</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No hay Presentaciones disponibles.</td>
                    </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
