<div class="container">
    <h2 class="text-center mt-4">MedicFolio</h2>
    <p class="text-center">La aplicación está diseñada para facilitar la organización, el almacenamiento y el acceso rápido a toda la información médica relevante de un familiar. Su funcionalidad abarca varios aspectos críticos del cuidado de la salud.</p>

    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-capsule-pill"></i> Medicamentos
                </div>
                <div class="card-body">
                    Permite a llevar un registro detallado de las prescripciones y el detalle de los medicamentos diarios con la gestión del stock...
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-calendar-event"></i> Consultas
                </div>
                <div class="card-body">
                    La aplicación ofrece la posibilidad de agendar citas y en ellas registrar los datos relevantes de las consultas...
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <i class="bi bi-file-earmark-medical"></i> Resultados
                </div>
                <div class="card-body">
                    Proporciona una manera eficiente de almacenar y acceder a los archivos con resultados de análisis clínicos...
                </div>
            </div>
        </div>
    </div>
</div>
