<div
    class="container-fluid">

</div>

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12">
            <div class="card-body">
                {% include "snippets/title.html" with title='Citas pendientes' %}
                {% include "dashboard/snippets/appointment.html" with appointments_active=appointments_active %}
            </div>
        </div>
        <div class="col-12">
            <div class="card-body">
                {% include "snippets/title.html" with title='Medicamentos con Prescripción Activa' %}
                {% include "dashboard/snippets/medication.html" with prescription_products=prescription_products %}
            </div>
        </div>
        <div class="col-12">
            <div class="card-body">
                {% include "snippets/title.html" with title='Compras necesarias para la semana' %}
                {% include "dashboard/snippets/purchase.html" with products_to_purchase=products_purchase %}
            </div>
        </div>
    </div>
</div>
