{% load static %}

{% url 'index' as index %}
{% url 'login' as login %}
{% url 'register' as register %}
{% url 'logout' as logout %}
{% url 'dispensers:dispenser' as dispenser %}

<nav class="navbar navbar-expand-lg custom-navbar-bg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'images/icono.png' %}" alt="MedicFolio Logo" style="height: 40px;">
        </a>       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                {% if user.is_authenticated %}
                    <a class="nav-link text-white {% if request.path == index %}active{% endif %}" href="{{ index }}">
                        Inicio
                    </a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Medicamentos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'medication:medication_list' %}"><i class="fas fa-tags"></i> Actual</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:product_list_short' %}"><i class="fas fa-tags"></i> Resumen</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:product_list' %}"><i class="fas fa-boxes"></i> Inventario</a></li>
                            <li><a class="dropdown-item" href="{% url 'consultations:prescription_list' %}"><i class="fas fa-pills"></i> Prescripciones</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownDatosGenerales" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Expediente
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDatosGenerales">
                            <li><a class="dropdown-item" href="{% url 'consultations:appointment_list' %}"><i class="far fa-calendar-alt"></i> Citas</a></li>
                            <li><a class="dropdown-item" href="{% url 'consultations:consultation_list' %}"><i class="fas fa-stethoscope"></i> Consultas</a></li>
                            <li><a class="dropdown-item" href="{% url 'consultations:analysis_list' %}"><i class="fas fa-microscope"></i> Análisis</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownDatosGenerales" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Datos Generales
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownDatosGenerales">
                            <li><a class="dropdown-item" href="{% url 'consultations:doctor_list' %}"><i class="fas fa-stethoscope"></i> Doctores</a></li>
                            <li><a class="dropdown-item" href="{% url 'stock:pharmacy_list' %}"><i class="fas fa-store"></i> Farmacias</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:specialty_list' %}"><i class="fas fa-stethoscope"></i> Especialidades</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:presentation_list' %}"><i class="fas fa-pills"></i> Presentaciones</a></li>
                        </ul>
                    </li>
                {% endif %}
            </div>
            <div class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                <li><a class="nav-link text-white" href="{{ dispenser }}">
                    <i class="fas fa-cart-plus"></i> Carrito
                    <span class="badge bg-secondary">{{ cart_item_count }}</span>
                    <span class="badge bg-secondary">{{ dispenser.products.count }}</span>
                </a></li>
                {% endif %}

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownUserMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownUserMenu">
                        <li><a class="dropdown-item" href="{% url 'profile_edit' %}"><i class="fas fa-user-edit"></i> Editar Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                    </ul>
                </li>
                {% else %}
                    <a class="nav-link text-white {% if request.path == login %}active{% endif %}" href="{{ login }}">
                        <i class="fas fa-sign-in-alt"></i> Ingresar
                    </a>
                    <a class="nav-link text-white {% if request.path == register %}active{% endif %}" href="{{ register }}">
                        <i class="fas fa-user-plus"></i> Registrarse
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

