<form method="get" class="form-inline" id="filter-form">
    {{ filterset.form.activa.label_tag }}
    {{ filterset.form.activa }}
</form>

<form method="get" class="input-group mb-3 mt-2" id="search-form">
    <input type="text" name="search" class="form-control" placeholder="Buscar en prescripciones..." value="{{ request.GET.search }}">
    <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" type="submit">Buscar</button>
        <a href="{% url 'consultations:prescription_create' %}" class="btn btn-primary ms-2">Nueva</a>
    </div>
    <!-- Campos ocultos para los filtros -->
    {% for field in filterset.form %}
        {% if field.name != 'search' %}
            {{ field.as_hidden }}
        {% endif %}
    {% endfor %}
</form>
