{% extends "base.html" %}
{% load static %}

{% block title %}Resumen de productos{% endblock title %}

{% block content %}
{% include "snippets/title.html" with title='Productos de Consumo actual' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            {% include "products/snippets/filter_short.html" %}  
            <div class="container mt-3">
                {% for product in products %}
                    {% include "products/snippets/product_short.html" with product=product %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
